:root {
    --color-slate: #626D71;
    --color-ceramico: #CDCDC0;
    --color-latte: #DDBC95;
    --color-coffe: #B38867;
}

body {
    font-family: 'Titillium Web', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}